<section class="module services-actionable">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="services-actionable-title">Actionable Insights and Data</div>
    <br>
    <div><%= image_tag("actionable.png", class: "img-responsive center-block") %></div>
    <br>
    <div class="services-actionable-body">
    Web Scraping,
    API Data Retrieval,
    Competitor Analytics, <br> 
    Conversion Funnel Optimization,
    Custom KPI Tracking, <br>
    Social Media Analytics,
    Targeted Leads Lists
    </div>
  </div>
</section>
