<section class="module services-asset">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="services-asset-title">Assets</div>
    <br>
    <div><%= image_tag("asset.png", class: "img-responsive center-block") %></div>
    <br>
    <div class="services-asset-body">
      Social Media Content Creation/Curation,
      Video Production,<br>
      Animated Video Production,
      Infographic Creation,<br>
      Landing Page Designs,
      Logo Designs,<br>
      Ad Creative,
      Blog Content
    </div>
  </div>
</section>
