<section class="module services-consulting">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="services-consulting-title">Consulting</div>
    <br>
    <div><%= image_tag("consulting.png", class: "img-responsive center-block") %></div>
    <br>
    <div class="services-consulting-body">
      UX/UI Audits and Redesign, Marketing & Growth, <br>
      Social Media, Content Strategy
    </div>
  </div>
</section>
