<section class="module services-development">
  <div class="col-md-10 col-md-offset-1">
    <br>
    <div class="services-actionable-title">Development</div>
    <br>
    <div><%= image_tag("development.png", class: "img-responsive center-block") %></div>
    <br>
    <div class="services-actionable-body">
      App & Website Development,
      Custom Marketing Dashboards, <br>
      Marketing API Integrations,
      Deep Learning NLP Integrations, <br>
      Marketing Automation,
      Event Tracking
    </div>
  </div>
</section>
