<section class="module splash-whatwedo">
  <div class="col-md-10 col-md-offset-1">
    <br><br><br><br>
    We solve problems,<br>
    & here's what we use.
    <br><br>
    <div class="whatwedotable">
      <table class="table">
        <colgroup>
          <col class="col-md-2">
          <col class="col-md-2">
          <col class="col-md-2">
        </colgroup>
        <tr class="whatwedoheader">
          <td>Data Science and Analytics</td>
          <td>Marketing Strategy</td>
          <td>Software Development</td>
        </tr>
        <tr class="whatwedobody">
          <td>Make data interpretable and actionable for your team. We recommend, implement and test changes in data collection.</td>
          <td>Indentify channels where you should be spending more or less money based off of analytics.</td>
          <td>Design and build custom analytics reports and dashboards for specific metrics relevant to your business.</td>
        </tr>
      </table>
    </div>
    <br>
  </div>
</div>
</section>
