<section class="module process-customer-centric">
  <div class="col-md-8 col-md-offset-1">
    <br>
    <div class="process-customer-centric-title">Customer Centric</div>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <br>
    <%= image_tag("customercentric.png", class: "img-responsive") %>
  </div>
</section>
