<section class="module process-purpose">
  <div class="col-md-4 col-md-offset-1">
    <br>
    <div class="process-purpose-title">Purpose</div>
    <br>
    <div class="process-purpose-body">
      We focus on your<br>
      goals.
    </div>
  </div>
  <div class="col-md-4">
    <br>
    <%= image_tag("purpose.png", class: "img-responsive") %>
  </div>
</section>
