<section class="module contactus-index">
  <div class="col-md-10 col-md-offset-1">
    <div class="contactus-index-body">
      <br><br><br><br><br><br>
      We'd love to hear from you
      <br>
      team@grolab.la
      <br>
      8252 1/2 Santa Monica Blvd. <br>
      Los Angeles, CA<br><br>
      <a href="https://www.linkedin.com/company/grolab">
        <%= image_tag("iconlinkedin.png") %>
      </a>
      <a href="https://twitter.com/grolab_la">
        <%= image_tag("icontwitter.png") %>
      </a>
      <a href="https://www.facebook.com/grolab/">
        <%= image_tag("iconfacebook.png") %>
      </a>
    </div>
  </div>
</section>
