@import "bootstrap-sprockets";
@import "bootstrap";

.montserrat {
  font-family: 'Montserrat', serif;
}

.garamond {
  font-family: 'EB Garamond', serif;
}

.navbar-fixed-top {
  padding-top: 1.5rem;
  padding-left: 0rem;
  padding-bottom: 1.5rem;
  background-color: #323298;
  opacity: 0.6;
}

.navbar {
  color: white;
}
