@import "bootstrap-sprockets";
@import "bootstrap";

$montserrat: Montserrat, serif;
$garamond: EB+Garamond, serif;

$grolab-purple: #323298;
$grolab-green: #7AE0BE;
$grolab-blue: #7AD8E0;
$grolab-offwhite: #f4f9e7;

.navbar-fixed-top {
  padding-top: 1.5rem;
  padding-left: 0rem;
  padding-bottom: 1.5rem;
  background-color: $grolab-purple;
  opacity: 0.6;
}

.navbar {
  color: white;
}


section.module.splash-index {
  font: 100% $montserrat;
  color: white;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-image: url('gro.png');
}

section.module.splash-about {
  color: $grolab-purple;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 30px;
}

section.module.splash-whatwedo {
  color: $grolab-purple;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 30px;
  background-color: $grolab-offwhite;
}

.whatwedoheader {
  font: 100% $garamond;
  font-size: 26px;
  color: black;
}

.whatwedobody {
  font: 100% $garamond;
  font-size: 18px;
  color: black;
}

section.module.process-index {
  color: #FFFFFF;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-color: $grolab-green;
}

section.module.process-purpose {
  color: $grolab-green;
  vertical-align: middle;
  min-height: 70rem;
  font-size: 60px;
  background-color: white;
}

.process-purpose-title {
  color: $grolab-green;
  font-size: 30px;
  font: $montserrat;
}

.process-purpose-body {
  color: $grolab-purple;
  font-size: 40px;
  font: $garamond;
}
